.jumbotron{
    background-image: url(../Images/hero.jpg);
    color: #fff;
    background-size: 100%;
    height: 73%;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-top: 10px; 
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.loreum-text{
    color: #2c87f0;
    font-size: 8px;
}
.site-title{
    color: black;
}
.loreum-title{
    font-size: 14px;
}
.ipsum{
    margin-top: 11rem;
    color: black;
}
.ipsum-text{
    color: #2c87f0;
    font-size: 24px;
}
.site{
    margin-top: 5rem;
}